*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 4.65rem;
}

html {
    font-size: 125% !important;
    scroll-behavior: smooth;
}

@media (max-width: 319px) {
    html {
        font-size: 100% !important;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: #191919;
}

a {
    font-weight: bold;
    /* color: red; */
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s, text-decoration-style 0.3s;
}

a:hover {
    color: red;
    text-decoration-style: dashed;
}

*:focus {
    outline: 0.2em solid red;
    outline-offset: 0.1em;
    text-decoration: none;
}

.hidden-link {
    color: red;
    position: absolute;
    font-size: 2rem;
    transform: translateY(-120%);
    transition: color 0.3s, text-decoration-style 0.3s, transform 0.3s;
}

.hidden-link:focus {
    position: fixed;
    top: 1.5rem;
    transform: translate(30%, 30%);
}

.hidden-link:focus+.wrapper {
    opacity: 0.05;
    pointer-events: none;
}

@media (max-width: 800px) {
    .hidden-link {
        font-size: 1rem;
    }
    .hidden-link:focus {
        top: 1.5rem;
        transform: translate(10%, 30%);
    }
}

.note--lg {
    padding: 1rem 0;
}

.note--sm {
    padding: 0.3rem 0;
}

.note__warning {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    max-width: 45rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.header {
    height: var(--header-height);
}

.header__fixed {
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 1.2rem 0;
    border-bottom: 0.15rem solid red;
    z-index: 1;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.header__nav {
    flex: 0 1 45%;
}

.header__filters-wrap {
    position: relative;
}

.header__filters-list {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: white;
    border: 0.1em solid red;
}

.header__filters[data-filters="close"] .header__filters-list {
    display: none;
}

.header__filters[data-filters="open"] .header__filters-list {
    display: block;
}

.header__filters-btn {
    color: inherit;
    font: inherit;
    font-weight: 600;
    background: none;
    border: 0.1em solid red;
    border-radius: 0.3em;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

.header__filters-btn:hover {
    border-style: dashed;
}

.header__filters-btn:focus {
    border-color: transparent;
}

.header__filters-btn[data-filters-btn="open"] {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.header__filters-btn[data-filters-btn="open"]:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-style: solid;
}

.header__filters-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__filters-label input {
    margin-right: 0.6em;
}

.header__filters-hidden {

}
.header__filters-hidden {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header__filters-hidden:focus {
    outline: none;
}

.header__filters-input {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid black;
    border-radius: 0.2em;
    margin-right: 0.4em;
    flex: 0 0 1rem;
    cursor: pointer;
}

.header__filters-hidden:focus+.header__filters-input {
    outline: 0.1em solid red;
    outline-offset: 0.1em;
}

.header__filters-hidden:checked+.header__filters-input::before {
    content: "";
    position: absolute;
    width: 65%;
    height: 45%;
    border-left: 0.13em solid red;
    border-bottom: 0.13em solid red;
    color: #000000;
    border-bottom-left-radius: 0.1em;
    transform: translate(-50%, -50%) rotate(-50deg);
    left: 50%;
    top: 40%;
}

.nav {
    /* padding-left: 0.8rem; */
    /* border-bottom: 0.1rem solid red; */
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item {
    margin-left: 5%;
    align-items: center;
}

.nav__item:first-child {
    margin-left: 0;
}

@media (max-width: 1000px) {
    .header {
        padding: 1.5rem 0;
    }
    .header__container {
        flex-direction: column;
        align-items: flex-start;
        max-width: 45rem;
    }
    .header__nav {
        width: 100%;
        margin-bottom: 1rem;
    }
    .nav__list {
        flex-direction: column;
    }
    .nav__item {
        margin-left: 0;
        margin-bottom: 1em;
    }
}

.hero {
    padding: 3rem 0 2rem;
}

.hero__title {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero__note {
    border: 0.1rem solid red;
    border-left: 0.15rem solid red;
    border-radius: 0.2em;
    padding: 0.75rem;
    padding-left: 0.8rem;
    margin-bottom: 1.5rem;
}

.hero__warning {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.checklist__section {
    margin-bottom: 1rem;
}

.checklist__top {
    padding-bottom: 0.5rem;
    max-width: 80%;
}

.checklist__title {
    position: relative;
}

.checklist__link {
    color: red;
}

.checklist__division {
    border-left: 0.15rem solid red;
    border-bottom: 0.1rem solid red;
    border-bottom-left-radius: 0.2rem;
    padding-left: 0.8rem;
    margin-bottom: 3rem;
}

.checklist__header {
    padding-bottom: 0.8rem;
}

.no-js .checklist__item {
    opacity: 1 !important;
    pointer-events: initial;
}

.checklist__item.inactive {
    opacity: 0.3;
    pointer-events: none;
}

.checklist__item-label {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    cursor: pointer;
}

.checklist__item-label:focus-within {
    text-decoration: underline;
}

.checklist__item-title {
    margin-bottom: 0.5em;
}

.checklist__item-subtitle {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.checklist__item-hidden {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checklist__item-hidden:focus {
    outline: none;
}

.checklist__item-input {
    position: relative;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.2rem solid black;
    border-radius: 0.4em;
    margin-right: 0.7em;
    flex: 0 0 1.5rem;
}

.checklist__item-hidden:focus+.checklist__item-input {
    outline: 0.2em dashed red;
    outline-offset: 0.1em;
}

.checklist__item-input+.checklist__item-desc {
    flex: 1 0 calc(100% - 44px);
}

.checklist__item-hidden:checked+.checklist__item-input::before {
    content: "";
    position: absolute;
    width: 65%;
    height: 45%;
    border-left: 0.2em solid red;
    border-bottom: 0.2em solid red;
    color: #000000;
    border-bottom-left-radius: 0.1em;
    transform: translate(-50%, -50%) rotate(-50deg);
    left: 50%;
    top: 40%;
}