:root {
    --c-text: rgb(25, 25, 25);
    --c-brand: rgb(255, 0, 0);
    --c-main: rgb(255, 255, 255);
    --c-reverse: rgb(0, 0, 0);
    --c-accent: rgb(3, 92, 5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-text: rgb(255, 255, 255);
        --c-main: rgb(25, 25, 25);
        --c-reverse: rgb(255, 255, 255);
        --c-accent: rgb(255, 235, 205);
    }
}

@media (min-width: 1000px) {
    :root {
        --header-height: 4.65rem;
    }
}